// Import variables if needed
// @import '../styles/variables';

.col{
  border: 1px solid #ddd;
}

.col:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.certificate-item {
  padding: 1rem;
  text-align: center;
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.3s ease;

  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }


  .certificate-image {
    display: block;
    max-width: 80px;
    height: auto;
    margin: 0 auto 1rem auto;
  }

  .certificate-title {
    font-size: 0.8rem; 
  }
} 